@charset "UTF-8";

/* preloader */

.page-loader {
	background: var(--background-primary);
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.page-loader .loader {
	width: 150px;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-khtml-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.page-loader .binding {
	content: '';
	width: 95px;
	height: 20px;
	border: 2px solid var(--font-primary);
	margin: 0 auto;
}

.page-loader .pad {
	width: 95px;
	height: 92px;
	border: 2px solid var(--font-primary);
	border-top: 0;
	padding: 28px 15px;
	margin: 0 auto;
}

.page-loader .line {
	width: 60px;
	margin-top: 13px;
	border-top: 2px solid var(--font-primary);
	opacity: 0;
	-webkit-animation: writeline 1s infinite ease-in;
	-khtml-animation: writeline 1s infinite ease-in;
	-moz-animation: writeline 1s infinite ease-in;
	-ms-animation: writeline 1s infinite ease-in;
	-o-animation: writeline 1s infinite ease-in;
	animation: writeline 1s infinite ease-in;
}

.page-loader .line:first-child {
	margin-top: 0;
}

.page-loader .line.line1 {
	-webkit-animation-delay: 0s;
	-khtml-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.page-loader .line.line2 {
	-webkit-animation-delay: 0.2s;
	-khtml-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.page-loader .line.line3 {
	-webkit-animation-delay: 0.4s;
	-khtml-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.page-loader .text {
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	color: var(--font-primary);
}

@-webkit-keyframes writeline {
	0% {
		width: 0;
		opacity: 0;
	}
	33% {
		width: 15px;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes writeline {
	0% {
		width: 0;
		opacity: 0;
	}
	33% {
		width: 15px;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes writeline {
	0% {
		width: 0;
		opacity: 0;
	}
	33% {
		width: 15px;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes writeline {
	0% {
		width: 0;
		opacity: 0;
	}
	33% {
		width: 15px;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes writeline {
	0% {
		width: 0;
		opacity: 0;
	}
	33% {
		width: 15px;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* body and sections */

body {
	background-color: var(--background-primary);
	font-family: var(--paragraph-font) !important;
}

.content {
	margin: 7.5rem 3rem 0 3rem;	
	padding-left: 4rem;
	padding-right: 4rem;
	background-color: var(--background-primary);
}

.section {
	padding: 3rem 3rem 1rem 3rem;;
	margin: 0.5rem;
	background-color: var(--background-primary);
}

/* headings */

.heading {
	font-family: var(--headings-font);
	font-weight: bold;
}

.top-heading {
	font-size: 3rem;
	color: var(--font-primary);
}

.section-heading {
	margin: 1rem 0 1rem 0;
	color:var(--font-primary);
}

.subsection-heading {
	margin: 1rem 0 1rem 0;
	color: var(--font-primary);
}

.main-content {
	color: var(--font-primary);
}

/* navbar */

nav {
	background-color: var(--background-primary);
	color: var(--font-secondary);	
	text-transform: uppercase;
}

.navbar-brand, .nav-link {
	color: var(--font-primary) !important;
	font-family: var(--headings-font) !important;
	font-size: 0.9rem;
}

nav i {
	font-size: 1.1rem !important;
}

.navbar-toggler {
	border-color: rgba(0,0,0,0) !important;
}

.floatingNav {
	border-radius: 2px;
	box-shadow: 0px 1px 15px var(--background-secondary);
}

.hide-space {
	display: none;
}

.nav-link:hover {
	font-weight: bold;
	cursor: pointer;
}

/* skills section */

.progress {
	height: 0.25rem;
	margin-bottom: 0.75rem;
	background-color: var(--background-secondary);
}

.progress-bar {
	background-color:var(--font-primary);
}

/* project cards */

.element-item {
	width: 33%;
}

.custom-card {
	background-color: var(--background-primary);
	padding: 1.5rem;
	margin-bottom: 1rem;
	box-shadow: 10px 10px 30px var(--background-secondary);
	min-height: 15rem;
}

@keyframes shiftcard {
	0% {
		transform: translateX(0px);
		transform: translateY(0px);
	}
	50% {
		transform: translateX(5px);
		transform: translateY(-5px);
	}
	100% {
		transform: translateX(0px);
		transform: translateY(0px);
	}
}

.custom-card:hover {
	animation: shiftcard 0.5s ease-out;
}

.custom-card i {
	color: var(--font-primary);
}

/* tags */

.tag {
	margin: 0.5em;
	padding: 0.25rem;
	border: 0.1rem solid var(--font-primary);
	border-radius: 0.25rem;
	font-size: 0.95rem;
	color: var(--font-primary);
	display: inline-block;
}

.tag:hover {
	background-color: var(--color-one);
	color: var(--background-primary);
	cursor: pointer;
	border: 0.1rem solid var(--color-one);
}

.custom-tag {
	color: var(--font-secondary);
	font-size: 0.8rem;
	margin-right: 0.5rem;
	display: inline-block;
}

.custom-tag:hover {
	cursor: pointer;
	color: var(--color-one);
}

/* charts */

canvas {
	width: 100%;
	/* height: 10rem !important; */
	margin-top: 1rem;
	margin-bottom: 3rem;
	/* background-color: red; */
}

.github {
	width: 100%;
}

/* footer */

footer {
	min-height: 10rem !important;
	vertical-align: middle;
}

.footer-copyright {
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	background-color: var(--background-tertiary);
	color: var(--font-primary);
}

.footer-copyright p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

/* media query */

@media only screen and (max-width: 1200px){
	.section {
		padding: 0.5rem;
		margin: 0.5rem;
	}
	.content {
		margin: 5rem 3rem 0 3rem;	
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media screen and (max-width: 900px) {
	.element-item {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.hide-space {
		display: block;
	}
	.section {
		padding: 0.5rem;
		margin: 0.5rem;
	}
	.content {
		margin: 5rem 3rem 0 3rem;	
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.element-item {
		width: 50%;
	}
	/* canvas {
		display: none;
	} */
	.navbar-collapse {
		position: absolute;
		top: 54px;
		left: -100%;
		width: 60%;
		transition: all 0.4s ease;
		display: block;
		opacity: 0.8;
		height: 100vh;
		background-color: var(--background-primary);
		padding: 2rem;
	}
	.navbar-brand {
		padding-left: 0 !important;
	}
	.navbar-collapse.collapsing {
		height: 100vh;
		left: -100%;
		margin-left: 1px;
		transition: all 0.2s ease;
		opacity: 0.9;
	}
	.navbar-collapse.show {
		margin-left: 100%;
		transition: all 0.2s ease;
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	.hide-space {
		display: block;
	}
	.section {
		padding: 1rem;
		margin: 1rem;
	}
	.content {
		margin: 5rem 1rem 0 1rem;	
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.top-heading {
		font-size: 2rem;
		color: var(--font-primary);
	}
	.main-content {
		font-size: 0.85rem;
	}
	.element-item {
		width: 100%;
	}
	/* canvas {
		display: none;
	} */
}

@media screen and (max-width: 500px) {
	canvas {
		height: 10rem !important;
	}
}

/* links and buttons */

*:focus {
	outline: 0 !important;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.link {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
	display: inline-block;
	padding: 2px 3px;
	text-decoration: none;
}

/* .link:hover {
	color: #fff;
} */

.filter-buttons {
	background-color: var(--background-primary);
	border: none;
	border-radius: 5px;
	margin: 0.4rem;
	margin-left: 0;
	padding: 0.25rem 0.75rem;
	/* border: 0.1rem solid var(--font-primary); */
	border-radius: 50px;
	font-size: 0.85rem;
	color: var(--font-primary);
	display: inline-block;
	box-shadow: 1.5px 1.5px 10px var(--background-secondary);
}

.filter-buttons-click {
	background-color: var(--color-one);
	color: var(--background-primary);
	cursor: pointer;
	/* border: 0.1rem solid var(--color-one); */
}

/* general classes */

.color-one {
	-webkit-box-shadow: inset 0 -3px 0 var(--color-one);
	box-shadow: inset 0 -3px 0 var(--color-one);
}

.color-one:hover {
	-webkit-box-shadow: inset 0 -33px 0 0 var(--color-one);
	box-shadow: inset 0 -33px 0 0 var(--color-one);
}

.color-one-only {
	color: var(--color-one);
}

.color-one-only:hover {
	-webkit-box-shadow: inset 0 -3px 0 var(--color-one);
	box-shadow: inset 0 -3px 0 var(--color-one);
	color: var(--font-primary);
	cursor: pointer;
}

.color-one-text {
	color: var(--color-one);
}

.color-one-only:hover {
	-webkit-box-shadow: inset 0 -3px 0 var(--color-one);
	box-shadow: inset 0 -3px 0 var(--color-one);
	color: var(--font-primary);
}

.fa-link, .fa-angle-down, .fa-angle-up {
	color: var(--color-one);
}

.fas {
	cursor: pointer;
}

/* .fa-github:hover, .fa-instagram:hover, .fa-linkedin:hover {
	color: var(--color-one);
} */

.btn, .btn:hover, .btn-link, .btn-link:hover {
	text-decoration: none !important;
	text-align: left;
	color: var(--font-primary);
	font-weight: bold;
	padding-left: 0 !important;
}

strong {
	color: var(--font-primary);
	font-weight: bold !important;
}

/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-primary);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-one);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-one);
}